/*
General Styles
*/
* {
    --softOrange: hsl(35, 77%, 62%);
    --softRed: hsl(5, 85%, 63%);
    --offWhite: hsl(36, 100%, 99%);
    --grayishBlue: hsl(233, 8%, 79%);
    --darkGrayishBlue: hsl(236, 13%, 42%);
    --veryDarkBlue: hsl(240, 100%, 5%);
    font-size: 15px;
}

/*
Header Styles
*/

.header {
    display: flex;
    flex-flow: row wrap;
}

.nav-title {
    font-weight: 800;
}

.nav-list {
    display: flex;
    list-style-type: none;
}

.nav-item {

}

/*
Main Article Styles
*/

.main-article {

}

.article-title {

}

.article-description {
    
}

/*
Sidebar Styles
*/

.sidebar {

}

.sidebar-article-title {

}

.article-description {

}

/*
Footer List Styles
*/

.footer-container {

}

.footer-article-list {

}

.footer-article-title {

}

.footer-article-description {

}