/*
General Styles
*/
* {
    --softOrange: hsl(35, 77%, 62%);
    --softRed: hsl(5, 85%, 63%);
    --offWhite: hsl(36, 100%, 99%);
    --grayishBlue: hsl(233, 8%, 79%);
    --darkGrayishBlue: hsl(236, 13%, 42%);
    --veryDarkBlue: hsl(240, 100%, 5%);
    font-size: 15px;
    font-weight: 400;
    font-family: 'Inter', 'sans-serif';
}

p {
    color: var(--darkGrayishBlue);
}

h4 {
    font-size: 1.25rem;
}

.App {
    padding-inline: 5rem;
}

/*
Header Styles
*/

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-weight: 800;
    font-size: 3rem;
}

.nav-list {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
}

.nav-item {
    color: var(--darkGrayishBlue);
    margin-inline-end: 2.5rem;
}

/*
Main Article Styles
*/

.main-article {
    display: flex;
}

.article-title {
    font-weight: 800;
    font-size: 4rem;
    /* letter-spacing: .15rem; */
}

.article-description {
    
}

.read-more {
    background-color: var(--softRed);
    color: var(--offWhite);
    padding-inline: 2rem;
    padding-block: 1rem;
    letter-spacing: .1rem;
    font-size: 1rem;
    border: none;
}

/*
Sidebar Styles
*/

.sidebar {
    background-color: var(--veryDarkBlue);
    /* why is adding 1px of padding giving me way more than 1px of padding in the browser? Investigate */
    padding-block: 1px;
}

.sidebar-title {
    font-weight: 800;
    color: var(--softOrange);
    font-size: 2rem;
    padding: 0rem;
    margin: 0rem;
}

.sidebar-article {
    border-bottom: .75px var(--grayishBlue) solid;
    margin-inline: 1.5rem;

}

.sidebar-article:last-child {
    border-bottom: none;
}


.sidebar-article-title {
    font-weight: 700;
    color: var(--offWhite);
    padding: 0rem;
    margin: 0rem;
}

.article-description {
    color: var(--grayishBlue);
    margin: 0rem;
    padding: 0rem;
    
}

/*
Footer List Styles
*/

.footer-container {
    
}

.footer-article-list {
    display: flex;
    flex-flow: row wrap;
}

.footer-article-title {
    font-weight: 700;
    color: var(--veryDarkBlue);
}

.footer-article-description {

}